<h1><%= @todo.description %></h1>
<h2><%= @todo.completed %></h2>


<%= form_with model: @todo, local: true do |f| %>
  <%= f.check_box :completed %>

  <%= f.label :description, "Descripcion" %>
  <%= f.text_field :description %>
  <%= f.submit "Guardar" %>
<% end %>