
<p><%= link_to "Crear un ToDo", todos_new_path %></p>

<table class="table table-well">
  <thead>
    <tr>
      <th>Check</th>
      <th>To do</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <% if todo.completed == true %>
        <% @status = "Completed" %>
        <% @checked = true %>
      <% else %>
        <% @status = "In progress..." %>
        <% @checked = false %>
      <% end %>


      <tr>
      <td><%= check_box_tag('status', value = "1", checked = todo.completed, options = {}) %></td>
        <td><%= todo.description %></td>
        <td><%= @status %></td>
        <td><%= link_to 'Mostrar', todo %></td>
        <td><%= link_to 'Editar', edit_path(todo) %></td>
        <td><%= link_to 'Eliminar', todo, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>