<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-well">
      <thead>
        <tr>
          <th>To do</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @todos.each do |todo| %>
          <% if todo.completed == true %>
            <% @status = "Completed" %>
            <% @checked = true %>
          <% else %>
            <% @status = "In progress..." %>
            <% @checked = false %>
          <% end %>

          <tr>
            <td><%= todo.description %></td>
            <td><%= @status %></td>
            <td><%= link_to '', completed_path(todo), class:"btn btn-success glyphicon glyphicon-ok" %></td>
            <td><%= link_to '', todo, class:"btn btn-info glyphicon glyphicon-search" %></td>
            <td><%= link_to '', edit_path(todo), class:"btn btn-warning glyphicon glyphicon-pencil" %></td>
            <td><%= link_to '', todo, method: :delete, class:"btn btn-danger glyphicon glyphicon-trash", data: { confirm: 'HEY! you cant undo this action!, well... you can but i haven\'t coded it, so are you SURE!?' }%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
